<mat-card>
    <mat-card-header>
        <mat-card-title>
            <div>
                <span>{{book.title}}</span>
                <Span>

                </Span>
            </div>
        </mat-card-title>
        <mat-card-subtitle>by {{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <img class="book-image" mat-card-image src="{{book.image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Year of publish: {{book.year}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button [class.hidden]="book.onList||!isAddToList" matTooltip="Add to list" mat-button
            (click)="addToList(book)">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button matTooltip="Delete" (click)="delete(book.id)">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>