<mat-card>
    <mat-card-header>
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>by {{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <img class="book-image" mat-card-image src="{{book.image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Year of publish: {{book.year}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="!book.onList&&isAddToList" mat-button (click)="addToList(book)">Add to list
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>