<h2 mat-dialog-title>Add List</h2>
<mat-dialog-content>
    <form class="form-container" [formGroup]="bookForm" (ngSubmit)="create()">
        <mat-form-field>
            <mat-label>Book name</mat-label>
            <input matInput formControlName="title" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Author name</mat-label>
            <input matInput formControlName="author" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Year of publish</mat-label>
            <input matInput formControlName="year" appNumbersOnly required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Image link</mat-label>
            <input matInput formControlName="image">
        </mat-form-field>

        <button mat-button type="submit" mat-raised-button color="primary">Add</button>
    </form>
</mat-dialog-content>